body
  font-family var(--font-family-sans-serif), "Noto Sans TC"
  #app
    text-align center
    display flex
    flex-direction column
    justify-content center
    algin-items center
    width 100vw
    height 100vh
    background url('../assets/appbg.jpg') center/cover
    color lightyellow
    font-size 2rem
    a
      color white
      font-size 2rem
      margin 1rem
    #timer-example
      justify-content center
      algin-items center
      margin-top 30px
    .buttons
      display block
      flex-direction column
      justify-content center
